.main-menu {
  background-image: url('./../../assets/oceano.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;

  .title {
    position: relative;
    top: 50%;
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: red;
  }

  #options {
    position: relative;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
  }
}






