<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      History
    </ion-title>
    <ion-button routerLink="/upload" class="upload">+</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content color="secondary">
  <ion-card  *ngFor="let image of images">
    <ion-card-header>
      <div class="card-header">
        <ion-avatar>
            <img width="20%" height="100%" src="{{url}}{{ image.uploader[0].profileImg }}">
        </ion-avatar>
          <h2>{{ image.uploader[0].username }}</h2>
      </div>
      
    </ion-card-header>
    <img src="{{ url }}{{ image.path }}">
    <span>{{ image.created_at | date }}</span>   
  </ion-card>
</ion-content>