.background {
    background-image: url('./../../../assets/img/login.PNG');
    overflow: hidden;
}

.main-content {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;

    ion-item {
        margin: 1em 0;
    }

    ion-spinner {
        display: block;
        margin: auto;
        color: var('ion-color-primary');
    }

    ion-button {
        margin: 3em;
    }

    .auth-errors {
        color: red;
    }
    
    a {
        display: block;
        color: white;
        width: 100%;
        margin: 2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}




