<ion-header>
  <ion-toolbar color="primary">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="form-content ion-padding" color="secondary">
  <form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit(registerFormGroup.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Username</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.username">
        <div class="error-message"
          *ngIf="registerFormGroup.get('username').hasError(validation.type) && (registerFormGroup.get('username').dirty || registerFormGroup.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" color="primary">Name</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.name">
        <div class="error-message"
          *ngIf="registerFormGroup.get('name').hasError(validation.type) && (registerFormGroup.get('name').dirty || registerFormGroup.get('name').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Last name</ion-label>
      <ion-input type="text" formControlName="lastname"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.lastname">
        <div class="error-message"
          *ngIf="registerFormGroup.get('lastname').hasError(validation.type) && (registerFormGroup.get('lastname').dirty || registerFormGroup.get('lastname').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validationMessages.email">
        <div class="error-message"
          *ngIf="registerFormGroup.get('email').hasError(validation.type) && (registerFormGroup.get('email').dirty || registerFormGroup.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <div formGroupName="matchingPasswords">
      <ion-item>
        <ion-label position="floating" color="primary">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message"
            *ngIf="registerFormGroup.get('matchingPasswords').get('password').hasError(validation.type) && (registerFormGroup.get('matchingPasswords').get('password').dirty || registerFormGroup.get('matchingPasswords').get('password').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label position="floating" color="primary">Confirm Password</ion-label>
        <ion-input type="password" formControlName="confirmPassword"></ion-input>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.confirmPassword">
          <div class="error-message"
            *ngIf="registerFormGroup.get('matchingPasswords').get('confirmPassword').hasError(validation.type) && (registerFormGroup.get('matchingPasswords').get('confirmPassword').dirty || registerFormGroup.get('matchingPasswords').get('confirmPassword').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>
    </div>
      <!-- These validations are for the form group -->
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.matchingPasswords">
          <div class="error-message"
            *ngIf="registerFormGroup.get('matchingPasswords').hasError(validation.type) && (registerFormGroup.get('matchingPasswords').get('confirmPassword').dirty || registerFormGroup.get('matchingPasswords').get('confirmPassword').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-item>
        <ion-label color="primary">I accept terms and conditions</ion-label>
        <ion-checkbox color="ion-color-primary" formControlName="terms"></ion-checkbox>
      </ion-item>
      <div class="validation-errors">
        <ng-container *ngFor="let validation of validationMessages.terms">
          <div class="error-message"
            *ngIf="registerFormGroup.get('terms').hasError(validation.type) && (registerFormGroup.get('terms').dirty || registerFormGroup.get('terms').touched)">
            <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
          </div>
        </ng-container>
      </div>

      <ion-button type="submit" expand="full" [disabled]="!registerFormGroup.valid || loading" >Register</ion-button>
      <ion-spinner *ngIf="loading" ></ion-spinner>
  </form>

</ion-content>