.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.ion-item {
  background-color: black;
}

ion-spinner {
  display: block;
  justify-content: center;
  color: var('ion-color-primary')
}

.submit-btn {
  margin-top: 40px;
}